header.header 
    .container
        .row.align-items-center
            .col-md-4
                .inner-logo 
                    a(href="/")
                        img(src="/images/logo.png" alt="Logo" class="logo-img")
            .col-md-8
                nav.menu
                    ul.nav-list
                        li: a(href="/") Home
                        li: a(href="/products") Products
                        li: a(href="/about") About
                        li: a(href="/contact") Contact